article {
  header {
    h3 {
      margin-bottom: 1.5rem;
      margin-top: 4.5rem;
      font-size: 2.2rem;
    }
  }
  .description {
    margin-bottom: 0;
  }
  .date {
    font-size: 1.2rem;
  }
}