.layout {
  padding-top: 5rem;
  max-width: 100rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin: 0 auto;

  main {
    margin-top: 15rem;
  }

  footer {
    margin-top: 10rem;
    margin-bottom: 4rem;
    font-size: 1.3rem;
  }
}
.header-title {
  font-size: 100;
  margin-bottom: 50;
  margin-top: 0;
  color: red;
}