@import "../../scss/variables";

article {
  header {
    h1 {
      font-size: 2rem;
    }
    h3 {
      margin-top: 4rem;
      font-size: 2rem;
    }
    small {
      font-size: 1rem;
    }
  }
  section {
    color: $color-gray-description;
  }
}
